$app-bg-color: #f0f2f4;
$content-bg-color: #ffffff;
$text-color: #242731;
$border-color: #e5e8eb;
$primary-btn-bg-color: #4B88BC;
// ------------------------------------ //
$default-font-size: 1.6rem;
